<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body>
    <form class="container card" method="post" style="text-align:center;" action="/login">
        <h1 style="position:relative;">
            <%= title %>
        </h1>

        <input type="email" class="form-controller"  placeholder="insert your email" required>
        <hr>
        <input type="password" class="form-controller" placeholder="insert your password" required>
        <hr>
        <input type="submit" class="btn btn-primary" style="position:center;" value="login">
        <a href="/register" class="btn btn-link">New account?</a>

    </form>
</body>

</html>